@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.lc {
  width: 75px;
  height: 55.99px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 12px;
}

.logoTxt {
  color: white;
  font-size: 10px;
  font-style: italic;
  margin-right: 2px;
}

.nb {
  height: 3rem;
  background-color: #2874f0;
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  justify-content: space-evenly;
}
.logo img {
  margin-top: 0;
}
.searchbar input {
  height: 2rem;
  width: 450px;
  padding: 1rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.btn {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 14px;
  font-weight: 600;
  border: none;
}
.btn-login {
  padding: 0.1 2rem;
  color: #2873f0;
  border-radius: 3px;
}
.btn-more,
.btn-cart {
  background-color: transparent;
  border: none;
  color: white;
}
.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: aliceblue;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
  padding-bottom: 1rem;
  padding: 1rem 4rem 1rem 4rem;
}
.category {
  text-align: center;
}
.head img {
  height: 75px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  background-color: white;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-view {
  background-color: #2874f0;
  padding: 1rem;
  color: white;
  border-radius: 5px;
}

.items {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background-color: white;
}
.item .body p {
  padding: 0.4rem;
}
.txt {
  font-weight: 400;
}
.offer {
  color: green;
}
.tag {
  font-size: 12px;
  color: grey;
}
.new-ad {
  box-shadow: 0 2px 4px 0 rgb(0 0 0/16%);
}

.heading1 {
  display: flex;
  flex-direction: column;
}
.text {
  color: grey;
  font-size: 12px;
  padding-top: 0.3rem;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
  background-color: #80808045;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-weight: bold;
}
h2 {
  font-size: 17px;
  font-weight: 450;
}
h3 {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 450;
}
p {
  color: green;
  font-size: 11px;
  margin: 2px 0;
}
h5 {
  margin-top: 2px;
  font-size: 10px;
  font-weight: normal;
  color: rgb(94, 92, 92);
}
h4 {
  font-size: 12px;
  font-weight: 550;
}
h6 {
  color: white;
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
}

.searchbar {
  background-color: white;
  padding: 1px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

button {
  cursor: pointer;
}
.login {
  padding: 8px 25px;
  font-weight: 700;
  font-size: 13px;
  margin-left: 30px;
  color: #2874f0;
  outline: none;
}
.more,
.cart {
  background-color: #2874f0;
  border: none;
  color: white;
  font-weight: 650;
  font-size: 15px;
}
.view-btn {
  background-color: #2874f0;
  border: none;
  padding: 5px 12px;
  color: white;
  font-weight: 550;
  margin-right: 139px;
  border-radius: 3px;
}

.image {
  margin: 0 15px;
  cursor: pointer;
}
.image img {
  width: 45px;
}

.up {
  display: flex;
  background-color: #fff;
  padding: 7px 90px;
  border-bottom: 1px solid rgb(238, 233, 233);
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.up1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  padding: 20px 0px;
  box-shadow: 0px 1px 1px 0 rgb(204, 203, 203);
  margin-bottom: 10px;
  height: 235px;
  position: relative;
}
.images img,
.pics img {
  cursor: pointer;
  max-height: 150px;
}
.images {
  padding: 0 10px;
  width: 160px;
  max-height: 200px;
  display: none;
  position: relative;
}

#rightarrow,
#leftarrow {
  width: 30px;
  display: inline-block;
}
#leftarrow button,
#rightarrow button {
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  width: 30px;
  box-shadow: 1px 2px 3px 1px rgb(216, 215, 215);
}
#leftarrow button:hover,
#rightarrow button:hover {
  background-color: rgb(247, 241, 241);
}
.pics {
  width: 140px;
}
.new-ad {
  margin-top: -3rem;
  box-shadow: 1px 2px 4px 0 rgb(150, 147, 147);
  width: 170px;
  background-color: rgb(248, 244, 244);
}
